body {
    margin: 0;
    padding: 0;
    background-color: #4fc381;
    overflow: hidden;
}

.main-container {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4fc381;
}

.title {
    font-size: 200px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -10px;
    line-height: 0.75;
    text-align: center;
    color: white;
}

.currencies-container {
    width: 99%;
    height: 47vh;
    margin: auto;
    background-color: #F4F5F6;
    /* Cambiado a rojo para visualizar mejor */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
}

.table-wrapper {
    width: 50%;
    overflow-x: auto;
    background-color: #F4F5F6;


}

.crypto-table {
    border-collapse: separate;
    /* Usar bordes separados */
    border-spacing: 0 5px;
    width: 100%;

}

.crypto-table tr {
    background-color: white;
}

.crypto-table td {
    padding: 10px;
    text-align: center;
}

.crypto-table td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.crypto-table td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.crypto-logo {
    display: flex;
    width: 100px;
    margin-left: -50px;
}

.crypto-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -100px;
}

.crypto-name {
    font-weight: bold;
}

.crypto-table img {
    width: 40px;
    display: block;
    margin: 0 auto;
}


.crypto-table-wrapper::-webkit-scrollbar {
    width: 0;
}

.crypto-table-wrapper {
    overflow: auto;
}