body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body * {
    user-select: none;
}

.main-container {
    width: 100%;
    height: 9vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wallet-div {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    margin-right: 1%;
}

#wallet-buttons {
    display: flex;
    justify-content: center;
}

.wallet-div button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.wallet-div button:hover {
    background-color: #0056b3;
}

#wallet-name {
    margin-top: 10px;
}


.main-page {
    display: flex;
    width: 100%;
    height: 91vh;
    /* border: solid 3px yellow !important; */
}


.sidebar {
    width: 10%;
    background-color: white;
    /* border: solid 3px red !important; */
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
}

.nav-links li a {
    display: block;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: transparent;
    transition: background-color 0.3s;
    text-decoration: none;
    color: black;
}

.nav-links li a:hover {
    background-color: #007bff;
    cursor: pointer;
    color: white;
}

.content-container {
    flex-grow: 1;
    display: flex;
    padding: 20px;
    background-color: #F4F5F6;
    border-top-left-radius: 10px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.title {
    font-size: 60px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    margin-left: 1%;
    letter-spacing: -5px;
    color: black;
}

.currencies-container {
    width: 61%;
    height: 46vh;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.currencies-container::-webkit-scrollbar {
    width: 0;
}

.crypto-table {
    border-collapse: separate;
    border-spacing: 0 5px;
    width: 100%;
}

.crypto-table tr {
    background-color: white;
}

.crypto-table td {
    text-align: center;
    width: 16.6%;
    overflow: hidden;
}

.crypto-table td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.crypto-table td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.crypto-table img {
    width: 40px;
}

.crypto-amount {
    border: none;
    padding: 8px 12px;
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    vertical-align: middle;
    outline: none;
    /* Eliminar el contorno al enfocar */
    transition: box-shadow 0.3s;
    /* Agregar una transición suave para el efecto de sombra */
}

.crypto-amount:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* Agregar una sombra suave al enfocar */
}

.total-container {
    width: 38%;
    height: 46vh;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#total-title {
    margin-bottom: 20px;
    font-size: 44px;
}

.value-container {
    font-size: 24px;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 20px solid;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

#total-value {
    font-size: 20px;
}