<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10 Cryptocurrencies</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800;&display=swap" rel="stylesheet">

</head>
<body>
    <div class="main-container">
        <span class='title'>CRYPTO<br/>TRACKER</span>
    </div>
    <div class="currencies-container">
        <div class="table-wrapper crypto-table-wrapper">
            <table class="crypto-table">
                <tbody class="crypto-list">
                    {% for crypto in cryptos %}
                    <tr>
                        <td class="crypto-rank">{{ crypto.cmc_rank }}</td>
                        <td class="crypto-logo"><img src="https://s2.coinmarketcap.com/static/img/coins/64x64/{{ crypto.id }}.png" alt="{{ crypto.name }} logo"></td>
                        <td>
                            <div class="crypto-info">
                                <div class="crypto-name">{{ crypto.name }}</div>
                                <div class="crypto-symbol">{{ crypto.symbol }}</div>
                            </div>
                        </td>
                        <td>{{ crypto.quote.USD.price }}</td>
                        <td>${{ crypto.quote.USD.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
